<div class="row  row-offcanvas row-offcanvas-right"  >
  <!--Left Column-->
  <div class="col-xs-12 col-md-9">
      <div class="widget media-body">
        <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"><%= t('curriculum.lb_curriculum_outline')%> </button>
        </p>
        <div class="row">
          <div class="col-md-8">
            <h3 class="innerLR"><%= @curriculum.curriculum_name%></h3>
            <p  class="innerLR"><span><i class="fa fa-user">&nbsp;</i><%= @curriculum.mentor.user_name%></span>&nbsp;|&nbsp;<span><i class="fa fa-calendar">&nbsp;</i><%= @curriculum.created_at.strftime("%Y/%m/%d")%></span></p>
            <div id="fb-root"></div>
            <div class="text-right">
              <div id="fb-root"></div>
              <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count"></div>
            </div>
          </div>
          <div class="col-md-2">
            <span></span>
          </div>
          <div class="col-md-2 push-top-15">
            <div class="innerAll">
                <%= link_to t('curriculum.btn_jon'), join_curriculum_path(@curriculum), {:class => "btn btn-primary col-xs-12"} %>
            </div>
          </div>
        </div>
        <div id="divDescription" class="innerLR aes-content">
            <%= sanitize @curriculum.description%>
        </div>
        <!--New comment form-->
        <div id="comment-new" class="innerAll" style="background-color: white" >
          <%= render partial: 'comments/comment_form', locals: {object: @object} %>
        </div>
        <!--End new comment form-->
    </div>
    <!--Comment-->
    <div id='divComments' class="widget">
      <%= render 'comments/comments' %>
    </div>
    <!--End comment-->
  </div>
  <!--End left column-->
  <div class="col-xs-6 col-md-3 sidebar-offcanvas" id="sidebar" role="navigation">
    <!--Right Column-->
    <!--Material-->
    <div id="divRight" class="widget media-body">
      <div class="innerAll menu-right">
        <div>
          <h4 class="aes-border-bottom"><%= t('material.title_material')%></h4>
          <ul class="fa-ul" >
            <% @materials.each do |material| %>
                <li>
                  <i class="fa-li fa fa-square"></i><%= material.material_name %>
                  <ul class="fa-ul">
                    <% material.children.each do |child| %>
                        <li><i class="fa-li fa fa-square"></i><%= child.material_name %></li>
                    <%end%>
                  </ul>
                </li>
            <%end%>
          </ul>
        </div>
        <!--Edd Material-->
        <!--Action-->
        <div>
          <h4 class="aes-border-bottom"><%= t('action.title_action')%></h4>
          <ul class="fa-ul">
            <% @curriculum.actions.each do |action| %>
                <li><i class="fa-li fa fa-square"></i><%= action.action_name %></li>
            <%end%>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- // End right column  -->
</div>
